# archivo .htaccess

RewriteEngine on

RewriteRule ^usuario-invitado-menu$ controllers/listamenus.php

RewriteRule ^usuario-invitado-pedido$ controllers/listacarrito.php

RewriteRule ^usuario-invitado-pago$ controllers/altapagos.php

RewriteRule ^home$ indexInvitado.php

RewriteRule ^home-([0-9]{4}[A-Z]{2})$ indexInvitado.php?mesa=$1